@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}

a[aria-expanded="true"]::before {
    content: '\e260';
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }

    #sidebar.active {
        margin-left: 0;
    }
}

/*
    ADDITIONAL DEMO STYLE, NOT IMPORTANT TO MAKE THINGS WORK BUT TO MAKE IT A BIT NICER :)
*/


p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: #012c36;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    transition: all 0.3s;
    position: fixed;
    width: 12.5%;
    height: 100%;
    color: white;
    background: #012c36;
    z-index: 100;
}

#sidebar a {
    color: white;
}

#sidebar .sidebar-header {
    padding: 20px;
    height: 40px;
    background: #012c36;
    text-align: center;
}

h3 {
    font-size: 3em;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul p {
    color: #012c36;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #012c36;
    background: whitesmoke;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: dodgerblue;
}

#userInfo {
    background-color: #012c36;
}

#logoutButton {
    float: right;
}

/**TOP BAR**/

.topnav {
    position: fixed;
    background: #012c36;
    height: 7%;
    width: 87.5%;
}

.topBar {
    padding-top: 0.6em;
    margin-left: 12.5%;
    width: 100%;
    height: inherit;
}

.barText {
    margin-top: 5em;
    font-size: 2.5em;
    color: whitesmoke;
}

.pContText {
    text-align: center;
}

.pageTitle {
    margin-top: 5em;
    font-size: 2.5em;
    color: whitesmoke;
}


/**tables**/
.content-wrapper {
    min-height: calc(100vh - 56px);
    padding-top: 1rem;
}

#rightSide {
    height: 93%;
    width: 87.5%;
    position: absolute;
    top: 7%;
    margin-left: 12.5%;
    z-index: -100;
}

.tableContainter {
    height: 600px;
    overflow: auto;
}

.tbody {
    height: 700px;
    overflow: auto;
}


#card {
    margin-top: 1.5em;
}

.table-responsive {
 font-size: 1.5em;
}

/**FORMS**/
.pageForm {
    margin: 1.5em;
    display: none;
    font-size: 1.5em;
}


/**LOGIN PAGE**/
#loginPage {
    background: #eee !important;
}

/*.wrapper {*/
    /*margin-top: 80px;*/
    /*margin-bottom: 80px;*/
/*}*/

.form-signin {
    max-width: 380px;
    padding: 15px 35px 45px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.1);
}


/**HOME PAGE**/
#homeBox {
    font-size: 2em;
    margin-top: 2em;
}

.homegrid{
    margin: 1em;
}



















